body {
  background-image: url(../public/background.jpeg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}

.navegation {
  background-color: aqua;
  padding: 12px 0;
}

nav a {
    text-decoration: none;
    text-align: center;
    margin: 0;
    padding: 12px 30px;
}

nav a:hover {
    background-color: rgba(33, 56, 227, 0.361);
}

table {
    /* margin: auto; */
    box-shadow: 0px 0px 15px #aaaaaa;
    border-radius: 0px 0px 15px 15px;
    border-spacing: 0;
    width: 500px;
}

.firstTr {
    background-color: #006;
    color: #EAEAEA;
    text-align: center;
}

th {
    padding: .5em;
    /* font-family: Arial, default, sans-serif; */
}

textarea {
  width: 493px;
}

.body-div {
  font-family: Arial, default, sans-serif;
  position: relative; 
  margin-left: auto;
  margin-right: auto;
  width: 500px;
  background-color: rgba(154, 202, 233, 0.661);
  /* border-radius: 30px; */
  position: relative;
}


.button {
  background-color: #006; 
  color: white;
  
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 3rem;
  width: 80px;
  position: static;
  transition-duration: 0.4s;
  cursor: pointer;
}

.button_stuff {
  background-color: white; 
  color: black; 
  border: 2px solid #008CBA;
  /* solve the Pop up bug change the position */
  position: static;
}

.button_stuff:hover {
  background-color: #008CBA;
  color: white;
}

.delA {
  margin-left: 80%;
  background-color: white; 
  color: black; 
  border: 2px solid #9c1804;
}

.delA:hover {
  background-color: #9c1804;
  color: white;
}

.delOneButton {
  float: right;
}

.detail-btn {
  position: static;
  float: right;
}